html {
  background: url("../images/mausoleums.jpg") no-repeat center center fixed;
  background-size: cover;
}

#head {
  color: white;
  font-size: 24px;

  background-size: cover;
  background: rgb(0, 0, 0);
}

#headContainer {
  display: flex;
  justify-content: center;

}

#info{
  color: white;
  position: fixed;
  margin-left: 15vw;
  width: 150px;
  background: rgb(50, 0, 0);
}

#arrow{
  transform: rotate(-90deg);
  height: 10%;
  width: 10%;

}

#enter{
  position: fixed;
  left: 45vw;
  top:60vh;
}

#back{
  position: fixed;
  left: 45vw;
  top: 80vh;
}
#backarrow{
  transform: rotate(180deg);
  height: 10%;
  width: 10%;
}
