html {
  background: url("images/page.1.hospital.png") no-repeat center center fixed;
  background-size: cover;
}



#head {
  font-size: 24px;

  background-size: cover;
  background: rgb(0, 0, 0, 0.4);
}

#headContainer {
  display: flex;
  justify-content: center;

}

#arrow{
  height: 10%;
  width: 10%;
}

#enter{
  position: fixed;
  left: 48vw;
  top: 90vh;
}

#info{
  display: flex;
  align-items: center;
  width: 20vw;
  height: 25vh;

  padding: 10px;
  background: rgba(0,0,0,.7);
}


#infostart{
  margin-top: -30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;

  text-align: center;

  color: white;
}

#clockDiv{
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(0,0,0,.5);
  background-size: contain;
  width: 100vw;
  margin-left: -8px;
}
