html {
  background: url("../../images/hospital-beds.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1{
  background: rgb(0, 0, 0, 0.9);
  color: rgb(255, 255, 255, 0.9);
  width: 10%;
}
p{
  background: rgb(255, 255, 255, 0.9);
  color: rgb(0, 0, 0, 0.9);
  width: 10%;
}

#head {
  font-size: 24px;

  background-size: cover;
  background: rgb(255, 255, 255, 0.4);
}

#head2 {
  font-size: 18px;

  background-size: cover;
  background: rgb(255, 255, 255, 0.4);
}

#headContainer {
  display: flex;
  justify-content: center;

}

#info{
  text-align: center;
  position: fixed;
  margin-left: 15vw;
  width: 150px;
  background: rgb(255, 255, 255, 0.4);
}

#arrow{
  height: 10%;
  width: 5%;
}

#enter1{
  position: absolute;
  left: 10vw;
  top: 60vh;
}

#backarrow{
  position: absolute;
  left: 45vw;
  top: 80vh;
  height: 10%;
  width: 5%;
  transform: rotate(180deg);
}
