html {
  background: url("../../../images/hospital-bed.png") no-repeat top center fixed;
  background-size: cover;
}


#head {
  font-size: 5vw;

  background-size: cover;
  background: rgb(0, 0, 0, 0.4);
}

#headContainer {
  display: flex;
  justify-content: center;

}

#infoContainer{
  display: flex;
  justify-content: space-around;

}

#Info {
  background-size: contain;
  background: rgb(255, 0, 255, 0.5);
}

#images {
  display: flex;
  justify-content: space-between;
}

#penguin {
  height: 15%;
  width: 15%;
}

#next {
  position: fixed;
  margin-left: 90vw;
  margin-top: 1vh;

}

#arrow{
  height: 40%;
  width: 40%;
}
