html {
  background: url("../../images/coffins.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1{
  background: rgb(0, 0, 0, 0.9);
  color: rgb(255, 255, 255, 0.9);
  width: 10%;
}
p{
  background: rgb(255, 255, 255, 0.9);
  color: rgb(0, 0, 0, 0.9);
  width: 10%;
}

#head {
  font-size: 24px;

  background-size: cover;
  background: rgb(255, 255, 255, 0.4);
}

#head2 {
  font-size: 18px;

  background-size: cover;
  background: rgb(255, 255, 255, 0.4);
}

#headContainer {
  display: flex;
  justify-content: center;

}

#info{
  text-align: center;
  position: fixed;
  margin-left: 15vw;
  width: 150px;
  background: rgb(255, 255, 255, 0.4);
}

#arrow{
  height: 20%;
  width: 10%;
}

#backarrow{
  height: 20%;
  width: 10%;
  transform: rotate(180deg);
}


#container{
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#namebox{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#videobox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#infobox{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
